<section class="{{ class }} {{ demo ? class ~ '-' ~ fields.section_height : class ~ '-m' }} {{ class }} {{ block_class }}" {{ block.anchor ? 'id=' ~ block.anchor : null }}>
  <div class="sk-container">

    <div class="{{ class }}-content">
      <div class="{{ class }}-row">



    {% if subtitle or title or description %}
    <div class="{{ class }}-column {{ class }}-column-left">

      {% if not (subtitle is empty) %}
        <div class="{{ class }}-subtitle">{{ subtitle }}</div>
      {% endif %}

      {% if not (title is empty) %}
        <h1 class="{{ class }}-title">{{ title }}</h1>
      {% endif %}

      {% if not (description is empty) %}
        <div class="{{ class }}-description">{{ description }}</div>
      {% endif %}


      {% if button or button_sec %}
      <div class="{{ class }}-buttons {{ class }}-column-bottom">
        {% if not (button is empty) %}
        
    
            {% set target = button.target ? '_blank' : '_self' %}
            <a class="sk-btn sk-btn--primary" href="{{ button.url }}"
               target="{{ target }}">{{ button.title }}</a>
              
          {% endif %}
    
          {% if not (button_sec is empty) %}
    
            {% set target = button_sec.target ? '_blank' : '_self' %}
            <a class="sk-btn sk-btn--secondary" href="{{ button_sec.url }}"
               target="{{ target }}">{{ button_sec.title }}</a>
              
          {% endif %}
        </div>
        {% endif %}



        {% if not (scroll is empty) %}
        <span class="{{ class }}-scroll-wrapper">
        <div class="{{ class }}-scroll">
          
          <div class="{{ class }}-scroll-text">
            <a href="#who-we-are" >
          {{ scroll }}
        </a>
        </div>
        </div>
      </span>
        {% endif %}











    </div>
    {% endif %}
    {% if img_desktop or img_mobile %}

		<div class="{{ class }}-column {{ class }}-column-right">

      <div class="{{ class }}-container-image">
        {% if img_desktop %}
          <div class="{{ class }}-wrap-image sk-only-d">
            {% include 'parts/components/image.twig' with {'id': img_desktop, 'class': 'object-fit', 'sizes': '(max-width: 991px) 710px, (max-width: 1279px) 940px, 1216px'} only %}
          </div>
        {% endif %}
        {% if img_mobile %}
          <div class="{{ class }}-wrap-image sk-only-m">
            {% include 'parts/components/image.twig' with {'id': img_mobile, 'class': 'object-fit', 'sizes': '100vw'} only %}
          </div>
        {% endif %}
      </div>
    </div>
    {% endif %}

    </div>




    </div>

  </div>
</section>
