{% set class = 'sk-form' %}

<div class="{{ class }}-field">

	{% if label %}
		<label class="{{ class }}-label" for="{{ id }}">{{ label }}</label>
	{% endif %}

	{% if inputIcon %}
		<div class="{{ class }}-wrapper-icon">
	{% endif %}

	<textarea id="{{ id }}" class="{{ class }}-control" name="{{ name }}" placeholder="{{ placeholder }}" {{ required ? 'required' : '' }} {{ disabled ? 'disabled' : '' }}></textarea>
	{% if inputIcon %}
		<svg viewBox="0 0 24 24"><use href="#icon-{{ inputIcon }}"></use></svg>
	{% endif %}

	{% if inputIcon %}
		</div>
	{% endif %}

	{% if helpText %}
		<span class="{{ class }}-help-text">{{ helpText }}</span>
	{% endif %}

</div>


{# use

{% include 'parts/components/form-fields/input.twig' with {
	'id': 'id',
	'name': 'name',
	'placeholder': 'placeholder',
	'helpText': 'helpText',
	'required': true/false,
	'disabled': true/false,
	'inputIcon': 'icon',
} only %}

#}